// Specific CSS for your home-page
section .home-hero {
  overflow: hidden;
  background-color: $primary;
  .bg-circle {
    width: 150%;
    height: 150%;
    background-color: #f00;
    border-radius: 100%;
    top: 50%;
    left: -25%;
    right: 0;
    position: relative;
  }
}

section {
  .container {
    height: 600px;
  }
}

#footer {
  h1, p, a {
    color: #fff;
  }
}

.footer, .navbar-lewagon {
  background-color: $purple;

  a, span {
    color: #fff;
    text-transform: none;
    letter-spacing: 0;
  }
  a:hover {
    color: $purple-200;
  }
}

.hiw-item {

  .hiw-icon {
    height: 150px;
    img {
      height: 100%;
    }
  }
  .hiw-text {
    padding: 8px;
    width: 200px;
  }
  .hiw-line {
    width: 230px;
    img {
      height: 100%;
    }
  }
}

.hiw-dashed-line {
  .dashed-line-1{
    width: 132.5px;
    height: 102.5px;
  }
  .dashed-line-2{
    width: 199.5px;
    height: 98px;
  }
  .dashed-line-3{
    width: 159px;
    height: 102.5px;
  }
}
