#video-section {
  .chat-btns-btm {
    position: relative;
    bottom: 0;
  }

  #twilio-remote-video {
    position: relative;
  }
  .twilio-remote-name {
    position: absolute;
    bottom: 16px;
    left: 14px;
    span {
      color: $purple-50;
      margin-left: 20px;
      font-size: 1.2em;
    }
  }
  .timer {
    position: absolute;
    top: 18px;
    right: 14px;
    span {
      color: $purple-50;
      margin-right: 24px;
      font-size: 1.2em;
    }
  }
  #twilio-remote-video > video {
    width: 100%;
    padding: 0 12px 0;
  }

  .video {
    _border: 1px solid #dee2e6;
    _border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-tabs {
    _border-bottom: 0;
  }
  .tab-content {
    _background-color: #fff;
    _border: 1px solid $purple;
    _border-radius: 0 0 3px 3px;
    _border-top: 0px solid #fff;
    padding: 0 20px 0;
  }

  .nav-tabs .nav-link.active {
    _background-color: #fff;
    _border: 1px solid $purple;
    _border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #FBFAFC;
  }
}
.p-lead {
  font-size: 0.75em;
  color: $purple-100;
}


#nav-question {
  ol {
    padding-left: 1.3rem;
  }
  li {
    line-height: 2.2em;
  }
  .time-suggs {
    color: $purple-100;
    font-size: 0.75em;
    float: right;
    margin-top: 0.75em;
  }
  .accordion-button::after {
    background-image: url("accordion_icon_folded.svg");
    background-size: 40%;
    background-position: center;
  }
}
