#video-section {
  .chat-btns-btm {
    position: relative;
    bottom: 0;
  }

  #twilio-remote-video {
    position: relative;
  }
  .video {
    _border: 1px solid #dee2e6;
    _border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
  }

  #twilio-remote-video > video {
    width: 100%;
    padding: 0 12px 0;
  }

  #twilio-remote-video video:first-of-type{
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .twilio-remote-name {
    position: absolute;
    bottom: 16px;
    left: 14px;
    span {
      color: $accent;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      margin-left: 20px;
      font-size: 1.2em;
    }
  }
  .timer {
    position: absolute;
    top: 18px;
    right: 14px;
    span {
      color: $accent;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      margin-right: 24px;
      font-size: 1.2em;
    }
  }

  .nav-tabs {
    _border-bottom: 0;
  }
  .tab-content {
    _background-color: #fff;
    _border: 1px solid $purple;
    _border-radius: 0 0 3px 3px;
    _border-top: 0px solid #fff;
    padding: 0 20px 0;
  }

  .nav-tabs .nav-link.active {
    _background-color: #fff;
    _border: 1px solid $purple;
    _border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #FBFAFC;
  }
}
.p-lead {
  font-size: 0.75em;
  color: $purple-100;
}


#nav-question {
  ol {
    padding-left: 1.3rem;
  }
  li {
    line-height: 2.2em;
    font-size: 0.95em;
    letter-spacing: 0.01em;
  }
  .time-suggs {
    color: $purple-100;
    font-size: 0.75em;
    float: right;
    margin-top: 0.75em;
  }
  #accordionExample {
    .accordion-header {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: #514A6B;
    }
    .accordion-button::after {
      background-size: 40%;
      background-position: center;
    }
    button {
      color: #514A6B;
      letter-spacing: -0.01em;
      font-size: 0.95em;
    }
  }
  code {
    color: $teal;
  }
}
