<footer>
  <div class="left">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <div class="right">
    <p>&copy; 2023 Your Company Name</p>
  </div>
</footer>
