<div class="container-fluid bg-primary">
  <footer class=" bg-primary container">
    <div class="left">
      <%= link_to "Terms", profile_path() , class: "nav-link" %>
      <%= link_to "Privacy", profile_path() , class: "nav-link" %>
      <%= link_to "Imprint", profile_path() , class: "nav-link" %>
      <%= link_to "About us", profile_path() , class: "nav-link" %>
    </div>
    <div class="right">
      <p>&copy; CareerPal - We made 2.349 moms proud in 2023 ❤️</p>
    </div>
  </footer>
</div>
