<div class="card readiness-card p-4" data-controller="sweetalert">
  <div class="card-title text-center">
    <h3>Pals online: 15</h3>
  </div>
  <div class="card-text text-center mt-3 mb-3">
    <p>When you are ready for the interview, press ready to get connected to another pal!</p>
  </div>
  <button type="button" class="btn btn-secondary" id="sweet-alert-demo">Ready for a call!</button>

</div>
