<div class="d-flex" style="align-items:center">
  <div class="avatar-container">
      <div class="avatar-large" style="background-image:url('https://images.unsplash.com/photo-1677510610271-2060c4a6d5e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60')">
      </div>
  </div>
    <div class="ms-4">
      <% frame_id = dom_id(current_user, "edit_first_name") %>
      <%= turbo_frame_tag "edit_first_name" do %>
        <%= turbo_frame_tag frame_id do %>
          <h3><%= current_user.first_name %></h3>

        <% end %>
    </div>

    <div class="space-between ms-3" style="align-self:flex-start"><%= render "shared/edit", path: edit_profile_first_name_path, turbo_frame: frame_id %>
     <% end %>
    </div>

</div>
