<div class="education-tab">
  <p class="p-lead">Education</p>
  <%= user.rich_education%>
</div>
<div class="experience-tab mt-4">
  <p class="p-lead">Experience</p>
  <%= user.rich_work_experience%>
</div>
<div class="other-tab mt-4">
  <p class="p-lead">Other Information</p>
  <%= user.rich_extra_info%>
</div>
