<div class="education-tab">
  <p class="p-lead">Education</p>
  <%= user.rich_education%>
</div>
<div class="experience-tab">
  <p class="p-lead">Experience</p>
  <%= user.rich_work_experience%>
</div>
