<!--data-controller="video-call-subscription" data-video-call-subscription-video-call-id-value="" ACTION CABLE-->
<section id="video-section" data-controller="video-call-subscription" data-video-call-subscription-video-call-id-value="<%= @videocall.id %>">

  <div class="container">
    <!--Countdown
    <div class="row col text-center countown">
    <h5 class="text-primary mt-3"> Time left to switch roles</h5>
    <h2 class="text-primary">00:00:00</h2>
    </div>-->
    <div class="row">
      <!--Video-->
      <div class="col-md-7 my-3 p-0">
        <div class="video" id="twilio-remote-video" data-controller="twilio" data-twilio-token-value="<%= @token %> " data-twilio-target="mediaDiv">
          <span class="twilio-remote-name" >
            <span><!--Name--></span>
          </span>
          <span class="timer" >
            <span id="timer" data-controller="countdown-timer" data-countdown-timer-target="time">30:00</span>
          </span>
        </div>
      </div>
      <div class="col-md-5 my-3 position-relative">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-question-tab" data-bs-toggle="tab" data-bs-target="#nav-question" type="button" role="tab" aria-controls="nav-question" aria-selected="true">Questions</button>
            <button class="nav-link" id="nav-career-tab" data-bs-toggle="tab" data-bs-target="#nav-career" type="button" role="tab" aria-controls="nav-career" aria-selected="false">Career</button>
          </div>

          <!--Tab Content-->
          <div class="tab-content pt-3" id="videoCall-tabContent">

            <!--Questions Tab-->
            <div class="tab-pane fade show active" id="nav-question" role="tabpanel" aria-labelledby="nav-question-tab">
              <div class="personal-qs">
                <p class="p-lead">Personal</p>
                <ol>
                  <li><span>Tell me a little bit about yourself.</span><span class="time-suggs">5-10 mins</span></li>
                  <li><span>Why would like to work at this company?</span><span class="time-suggs">5-10 mins</span></li>
                  <li><span>What are your strenghts and weaknesses?</span><span class="time-suggs">5-10 mins</span></li>
                </ol>
              </div>
              <div class="technical-qs">
                <p class="p-lead">Technical</p>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        How do you iterate over an array in JavaScript?
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>With Array.forEach.</strong>
                        <br>
                        <code>const beatles = ["paul", "john", "ringo", "george"];</code>
                        <br>
                        <code>beatles.forEach((beatle) => {</code>
                        <br>
                        <code>console.log(beatle.toUpperCase());</code>
                        <br>
                        <code>});</code>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How do you Create (CRUD) in SQL?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>Using the INSERT INTO keyword:</strong>
                        <br>
                        <code>INSERT INTO doctors (name, age, specialty)</code>
                        <br>
                        <code>VALUES ('Dr House', 42, 'Diagnostic Medicine');</code>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What are CRUD operations on an array in Javascript?
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <code>const fruits = [];</code>
                        <br>
                        <code>fruits.push("Apple"); // Create</code>
                        <br>
                        <code>fruits[0];            // Read</code>
                        <br>
                        <code>fruits[0] = "Banana"; // Update</code>
                        <br>
                        <code>fruits.splice(0, 1);  // Delete. Remove one item at index 0</code>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Career Tab-->
            <!--data-video-call-subscription-target ACTION CABLE-->
            <div class="tab-pane fade" id="nav-career" role="tabpanel" aria-labelledby="nav-career-tab" data-video-call-subscription-target="tab">
            <!--Content _other_user-->
          </div>
          <div class="chat-btns-btm d-flex mt-3">
            <%= link_to "Switch Roles", new_videocall_feedback_path(@videocall), class:"btn btn-antje btn-outline-secondary btn-outline-secondary-antje mt-3 mx-2" %>
            <%= link_to "Leave Feedback", new_videocall_feedback_path(@videocall), class:"btn btn-antje btn-outline-secondary btn-outline-secondary-antje mt-3" %>
          </div>
      </div>
    </div>
  </div>
</section>
