
  <div class="container my-5">
    <div class="row d-flex gap-5 justify-content-center">
      <div class="col-6">
        <div id="twilio-video" data-controller="twilio" data-twilio-token-value="<%= @token %> "data-twilio-target="mediaDiv">
        </div>
      </div>
        <%= render "cv" %>
    </div>
</div>
