<% frame_id = dom_id(current_user, "edit_first_name") %>

<%= turbo_frame_tag frame_id do %>
  <%= simple_form_for current_user, url: update_profile_first_name_path, data: {turbo_method: :patch} do |f| %>
    <div class="d-flex" style="align-items:center">
      <%= f.input :first_name, label: false, wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Update", class: "btn btn-secondary ms-2 mb-3" %>
    </div>
  <% end %>
<% end %>
