<% frame_id = dom_id(current_user, "education") %>

<%= turbo_frame_tag frame_id do %>
  <%= simple_form_for current_user, url: update_profile_education_path, data: {turbo_method: :patch} do |f| %>
    <div class="d-flex">
      <%= f.input :education, label: false, wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
