<% frame_id = dom_id(current_user, "work_experience") %>

<%= turbo_frame_tag frame_id do %>
  <%= simple_form_for current_user, url: update_profile_work_experience_path, data: {turbo_method: :patch} do |f| %>
    <div style="align-items:center">
      <%= f.rich_text_area :rich_work_experience, label: false, wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Update", class: "btn btn-secondary mt-2 mb-3" %>
    </div>
  <% end %>
<% end %>
