<section id="instruction-hero" class="bg-circle">
    <div class="hero-img">
      <%= image_tag "halfcircle_home_hero.svg", class:"circle-home-hero"%>
    </div>
    <div class="container d-flex align-items-center">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="display-3">Instructions</h1>
        <p>Get to know how simple it works and become a Pro at being interviewed</p>
      </div>
      <div class="col-md-6">
        <%= image_tag "laptop.png", class: "instruction-img"%>
      </div>
    </div>
  </div>
</section>

  <section>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
</section>
