 <div class="dashboard-head">
  <div><%= render "shared/userinfo" %></div>
  <div><%= render "shared/readiness_card" %></div>
</div>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
  </ul>
