<% frame_id = dom_id(current_user, "first_name") %>
<%= turbo_frame_tag frame_id do %>
  <!-- rb first_name start //-->
    <p><%= current_user.first_name %></p>
  <!-- rb first_name end //-->
<% end %>
