<section id="videoCall">
  <div class="container">
    <div class="row">
      <div class="col-md-7 video">
      </div>
      <div class="col-md-5">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Questions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
        <div class="tab-content">

        </div>
      </div>
    </div>
  </div>
</section>
