<% new_array =  current_user.feedbacks_as_receiver %>
<% new_array = new_array.sort_by {|obj| obj.created_at}.reverse %>
<% new_array.each do |feedback|  %>
  <div class="card mb-3 feedback grow-feedback deletion" class="media-body">
    <div class="card-title ps-4 pe-4 pt-4">
      <h5 style="margin-bottom:0px!important">
        <%= feedback.created_at.to_date %>
      </h5>
    </div>
    <div class="card-text ps-4 pe-4 pb-2 space-between">
      <div><p style="display:flex;align-items:center">Your pal's general impression from the call: <span style="margin-bottom:3px" class="ms-2"><%= render "feedbacks/star_rating", amount: (feedback.overall_impression + feedback.eye_contact + feedback.background_presentation + feedback.problem_solving + feedback.verbal_communication + feedback.body_language + feedback.enthusiasm + feedback.professional_appearance + feedback.hireability + feedback.confidence)/10.to_f %></span> <span class="ms-2"><%= (feedback.overall_impression + feedback.eye_contact + feedback.background_presentation + feedback.problem_solving + feedback.verbal_communication + feedback.body_language + feedback.enthusiasm + feedback.professional_appearance + feedback.hireability + feedback.confidence)/10.to_f.round(2)%></span></p></div>
      <%= link_to "See details", videocall_feedback_path(feedback.videocall, feedback), class:"stretched-link" %>
    </div>
  </div>
<% end %>
