.readiness-card{
  max-width:290px;
}
.readiness-card button {
  background-color:$pal-yellow!important;
  text-transform:initial;
  border:0px!important;
  color: $text-colour!important;
  padding:12px!important;
  font-size: 1em !important;
  letter-spacing: normal!important;
  max-width:280px;
  margin:auto!important;

}



.blog-article-card {
  .btn-outline-secondary {
    border: none;
    padding: 0;
  }
  .btn-outline-secondary:hover {
    background-color: #fff;
  }

}
}
