.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: absolute;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  _width: 25px;
  height: 15px;
  margin-right: 5px;
}
.navbar-toggler {
  border: 1px solid $purple;
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}


.form-switch {
  .form-check-label {
    color: $purple-50;
  }
  .form-check-input {
    border: 0.6px solid $purple-50;
  }
}

.my-dropdown-item {
  color: $purple !important;
}
