.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  _width: 25px;
  height: 15px;
  margin-right: 5px;
}

.form-switch {
  .form-check-label {
    color: $purple-50;
  }
  .form-check-input {
    border: 0.6px solid $purple-50;
  }
}

.my-dropdown-item {
  color: $purple !important;
}
